@page "/docs/accordion"

<div class="page">

    <DocsExample Title="Accordion" ComponentType="typeof(Accordion)">
        <CodeSnippet ClassName="@typeof(AccordionBasic).ToString()" Title="Basic">
            <Example>
                <AccordionBasic/>
            </Example>
        </CodeSnippet>
        <CodeSnippet ClassName="@typeof(AccordionMultipleOpen).ToString()" Title="Multiple Open">
            <Example>
                <AccordionMultipleOpen/>
            </Example>
        </CodeSnippet>
        <CodeSnippet ClassName="@typeof(AccordionInitialExpanded).ToString()" Title="Initial Expanded">
            <Example>
                <AccordionInitialExpanded/>
            </Example>
        </CodeSnippet>
        <CodeSnippet ClassName="@typeof(AccordionTitleTemplate).ToString()" Title="Title Template">
            <Example>
                <AccordionTitleTemplate/>
            </Example>
        </CodeSnippet>

        <CodeSnippet ClassName="@typeof(Dynamic).ToString()" Title="Dynamic Items">
            <Example>
                <Dynamic />
            </Example>
        </CodeSnippet>

    </DocsExample>
</div>