@namespace TabBlazor.Components.Modals

<div class="text-center">

    <Icon class="mb-2 icon-lg" TextColor=@Options.StatusColor IconType=@Options.IconType />

    <h3>@Options.MainText</h3>
    <div class="text-muted">@Options.SubText</div>
</div>
<div class="modal-footer pb-0">
    <div class="w-100">
        <div class="row">
            @if (!string.IsNullOrWhiteSpace(Options.CancelText))
            {
                <div class="col">
                    <Button class="w-100" OnClick="@Cancel">@Options.CancelText</Button>
                </div>
            }

             @if (!string.IsNullOrWhiteSpace(Options.OkText))
            {
                <div class="col">
                <Button class="w-100" BackgroundColor=@Options.StatusColor OnClick="@Ok">@Options.OkText</Button>
            </div>
            }

           
        </div>
    </div>
</div>


