@page "/docs/accordion"

<div class="page">

    <DocsExample Title="Accordion" ComponentType="typeof(Accordion)">
        <CodeSnippet Component="@typeof(AccordionBasic)" Title="Basic"/>
        <CodeSnippet Component="@typeof(AccordionMultipleOpen)" Title="Multiple Open"/>
        <CodeSnippet Component="@typeof(AccordionInitialExpanded)" Title="Initial Expanded"/>
        <CodeSnippet Component="@typeof(AccordionTitleTemplate)" Title="Title Template"/>

        <CodeSnippet Component="@typeof(Dynamic)" Title="Dynamic Items"/>

    </DocsExample>
</div>