@typeparam TItem
@inherits DashboardComponent<TItem>
@namespace TabBlazor.Dashboards

@if (facet != null)
{
    @if (@FacetTemplate == null)
    {
        <div class="mb-3">
        <strong>@facet.Name</strong>

            @if (facet.IsActive)
            {
                <Icon class="ms-2 tabicon icon" IconType="InternalIcons.Trash" OnClick="@(_ => ResetFilters(true))" />
            }

        @foreach (var facetFilter in facet.Filters)
        {
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="radios" checked=@facetFilter.Active @onclick="@(e => ValueChanged(facetFilter, e))">
                    <span class="form-check-label">@($"{facetFilter.Filter.Name} ({facetFilter.CountFiltered}/{facetFilter.CountAll})")</span>
                </label>
        }
        </div>
    }
    else
    {
        @FacetTemplate.Invoke(facet)
    }
}




