@typeparam TItem
@inherits DashboardComponent<TItem>
@namespace TabBlazor.Dashboards

@if (facet != null)
{
    @if (@Facet == null)
    {
        <div class="mb-3">
        <strong>@facet.Name</strong>
            @if (facet.IsActive)
            {
                <Icon class="ms-2 tabicon icon" IconType="InternalIcons.Trash" OnClick="@(_ => ResetFilters())" />
            }


        @foreach (var facetFilter in facet.Filters)
        {
                <Checkbox Label="@($"{facetFilter.Filter.Name} ({facetFilter.CountFiltered}/{facetFilter.CountAll})")" Value=@facetFilter.Active ValueChanged="@(e => ValueChanged(facetFilter, e))" Switch />
        }
        </div>
    }
    else
    {
        @Facet.Invoke(facet)
    }
}




