@inherits TablerBaseComponent
@namespace TabBlazor
<ClickOutside OnClickOutside="OnClickOutside">
    <CascadingValue Name=Dropdown Value=this>
    <HtmlElement Tag="@(Direction==DropdownDirection.Down ? "div": "span")"
                 class="@ClassNames"
                 @onclick="OnDropdownClick"
                 @attributes="@UnmatchedParameters"
                 ElementRefChanged="@(r => referenceEl = r)"
                 style="@GetSyle()">


        @ChildContent

        @if (isExpanded)
        {
            <div @ref="popperEl" class="@(UsePopper ? "popper-host" : null)" @onclick:stopPropagation="!CloseOnClick">
                @DropdownTemplate
            </div>

        }
    </HtmlElement>
    </CascadingValue>
</ClickOutside>
