<h3>Icons List</h3>


<div class="row mb-3">
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="form-group">
            <label>Size</label>
            <input class="form-control" type="number" min="1" @bind-value="@size" />
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="form-group">
            <label>Stroke width</label>
            <input class="form-control" type="number" min="0.1" step="0.1" @bind-value="@strokeWidth" />
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-2">
        <div class="form-group">
            <label>Color</label>
            <input class="form-control form-control-color" type="color" @bind="@color" @bind:event="oninput" />
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="form-group">
            <label>Search</label>
            <input class="form-control" type="text" value="@searchText" @oninput="SearchIcons" />
        </div>
    </div>
</div>

<div class="row iconlist-container">
    @foreach (var icon in filteredIcons)
    {
        <div class="col-auto mb-3" title="@icon.Name">
            <div class="iconlist-item text-center ">
                <Icon Size="@size" Elements="@icon.Elements" StrokeWidth="strokeWidth" Color="@color" />
                <div><small>@icon.Name</small></div>
            </div>
        </div>
      }
</div>
