<h3>@icons.Count Tabler Icons</h3>
<a href="https://github.com/tabler/tabler-icons">tabler-icons</a>

<div class="row mb-3">
    <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="form-group">
            <label>Size</label>
            <input class="form-control" type="number" min="1" @bind-value="@size" />
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="form-group">
            <label>Stroke width</label>
            <input class="form-control" type="number" min="0.1" step="0.1" @bind-value="@strokeWidth" />
        </div>
    </div>

      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="form-group">
            <label>Rotate</label>
            <input class="form-control" type="number"  step="1" @bind-value="@rotate" />
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="form-group">
            <label>Color</label>
            <input class="form-control form-control-color" type="color" @bind="@color" @bind:event="oninput" />
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="form-group">
            <label>Search</label>
            <input class="form-control" type="text" value="@searchText" @oninput="SearchIcons" />
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-auto">
        @if (selectedIcons.Any())
        {
            <span>@selectedIcons.Count icons selected</span>
            <Button class="ms-1" Size="ButtonSize.Small" BackgroundColor="TablerColor.Primary" OnClick="CopyToClipboard">Copy to clipboard</Button>
            <Button class="ms-1" Size="ButtonSize.Small" BackgroundColor="TablerColor.Danger" OnClick="ClearSelected">Clear selected</Button>
        }
        else
        {
            <span>Click icons to select..</span>
        }
    </div>
</div>



<div class="iconlist-container">
    <div class="form-selectgroup">
    
        <Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize Items="@filteredIcons" Context="icon">
            <span title="@icon.Name">
                <Checkbox Value="@IsSelected(icon)" ValueChanged="@(() => SelectIcon(icon))">
                    <Icon Size="@size" Rotate=@rotate Elements="@icon.Elements" StrokeWidth="strokeWidth" Color="@color" />
                </Checkbox>
            </span>
        </Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize>
    </div>
</div>
