@namespace TabBlazor

@inherits ComponentBase


@if (string.IsNullOrEmpty(Label) && string.IsNullOrEmpty(Description))
{

    RenderCheckBox();
}
else
{
    <label class="form-check">
        @{ RenderCheckBox(); }
        @if (!string.IsNullOrEmpty(Label))
        {
            <span class="form-check-label">@Label</span>
        }
        @if (!string.IsNullOrEmpty(Description))
        {
            <span class="form-check-description">@Description</span>
        }
    </label>
}

@{
    void RenderCheckBox()
    {
        <input type="checkbox" class="form-check-input cursor-pointer" @ref="element" checked="@Value" @onclick="ToggleState" disabled="@Disabled">
    }
}


@*<label class="form-check">
            <input type="checkbox" class="form-check-input" @ref="element" checked="@Value" @onclick="ToggleState" disabled="@Disabled">

        @if (!string.IsNullOrEmpty(Label))
        {
            <span class="form-check-label">@Label</span>
        }

        @if (!string.IsNullOrEmpty(Description))
        {
            <span class="form-check-description">@Description</span>
        }


    </label>*@
