@namespace TabBlazor

@inherits ComponentBase

@if (string.IsNullOrEmpty(Label) && string.IsNullOrEmpty(Description) && !Switch)
{
   
    RenderCheckBox();
}
else
{
<label class="@ClassNames">
    @{ RenderCheckBox(); }
    @if (!string.IsNullOrEmpty(Label))
    {
        <span class="form-check-label">@Label</span>
    }
    @if (!string.IsNullOrEmpty(Description))
    {
        <span class="form-check-description">@Description</span>
    }
</label>
}

@{
    void RenderCheckBox()
    {
        <input type="checkbox" class="form-check-input cursor-pointer" checked="@Value" @onclick="ToggleState" disabled="@Disabled">
    }
}

