@inherits TablerBaseComponent
@namespace TabBlazor

<HtmlElement Tag="li"
             class="@ClassNames"
             @onclick="OnClick"
             @attributes="@UnmatchedParameters">

   
    <div class="timeline-event-icon @IconColor.GetColorClass("bg")-lt">
        @if (IconTemplate != null)
        {
            @IconTemplate
        }
        else
        {
            @IconText
        }
    </div>
 
    <div class="card timeline-event-card">

        <div class="card-body">

            @if (!string.IsNullOrWhiteSpace(Time))
            {
                <div class="text-secondary float-end">@Time</div>
            }

            @if (!string.IsNullOrWhiteSpace(Title))
            {
                <h4>@Title</h4>
            }

            @ChildContent
            
        </div>

    </div>
</HtmlElement>