@page "/docs/avatars"

<div class="page">
    <TablerCard Size="TablerCardSize.Large">
        <TablerCardBody>
            <div class="d-flex">
                <h2 class="h1 mt-0 mb-3">Avatars</h2>
            </div>
            <p></p>

            <DocsSnippet Centered="true" Class="@typeof(AvatarsBasic).ToString()" Title="Basic">
                <Description>
                    Basic avatar
                </Description>
                <Example>
                    <AvatarsBasic />
                </Example>
            </DocsSnippet>

            <DocsSnippet Centered="true" Class="@typeof(AvatarsSize).ToString()" Title="Size">
                <Description>
                    Size the avatar according to your needs
                </Description>
                <Example>
                    <AvatarsSize />
                </Example>
            </DocsSnippet>

            <DocsSnippet Centered="true" Class="@typeof(AvatarsRounded).ToString()" Title="Size">
                <Description>
                    Rounded setting
                </Description>
                <Example>
                    <AvatarsRounded />
                </Example>
            </DocsSnippet>

            <DocsSnippet Centered="true" Class="@typeof(AvatarsStatus).ToString()" Title="Status">
                <Description>
                    Set a status icon
                </Description>
                <Example>
                    <AvatarsStatus />
                </Example>
            </DocsSnippet>

            <DocsSnippet Centered="true" Class="@typeof(AvatarsList).ToString()" Title="Avatars List">
                <Description>
                    Wrap the avatars in a list. Set stacked if they should be stacked
                </Description>
                <Example>
                    <AvatarsList />
                </Example>
            </DocsSnippet>

        </TablerCardBody>
    </TablerCard>
</div>