<aside class="navbar navbar-vertical navbar-expand-md navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" @onclick="ToogleExpanded">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="." class="navbar-brand navbar-brand-autodark">
            <img src="_content/Tabler.Docs/img/logo-white.svg" alt="Tabler" class="navbar-brand-image">
        </a>
        
        
        <div class="navbar-collapse @menuCollapse" id="navbar-menu">
            <ul class="navbar-nav pt-lg-3">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <TablerIcon class="icon" Elements="@DemoIcons.Dashboard" />
                        </span>
                        <span class="nav-link-title">
                            Home
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="docs/buttons">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <TablerIcon class="icon" Elements="@DemoIcons.Click" />
                        </span>
                        <span class="nav-link-title">
                            Buttons
                        </span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="docs/alerts">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <TablerIcon class="icon" Elements="@DemoIcons.Alert_triangle" />
                        </span>
                        <span class="nav-link-title">
                            Alerts
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="docs/cards">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <TablerIcon class="icon" Elements="@DemoIcons.Layout_cards" />
                        </span>
                        <span class="nav-link-title">
                            Cards
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="docs/icons">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <TablerIcon class="icon" Elements="@DemoIcons.Grid" />
                        </span>
                        <span class="nav-link-title">
                            Icons
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="docs/toasts">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <TablerIcon class="icon" Elements="@DemoIcons.Messages" />
                        </span>
                        <span class="nav-link-title">
                            Toasts
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="docs/tabs">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <TablerIcon class="icon" Elements="@DemoIcons.File_horizontal" />
                        </span>
                        <span class="nav-link-title">
                            Tabs
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="docs/timelines">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <TablerIcon class="icon" Elements="@DemoIcons.List" />
                        </span>
                        <span class="nav-link-title">
                            Timelines
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="docs/avatars">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <TablerIcon class="icon" Elements="@DemoIcons.Users" />
                        </span>
                        <span class="nav-link-title">
                            Avatars
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="docs/badges">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <TablerIcon class="icon" Elements="@DemoIcons.Award" />
                        </span>
                        <span class="nav-link-title">
                            Badges
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="docs/dropdowns">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <TablerIcon class="icon" Elements="@DemoIcons.List" />
                        </span>
                        <span class="nav-link-title">
                            Dropdowns
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="docs/progress">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <TablerIcon class="icon" Elements="@DemoIcons.Chart_bar" />
                        </span>
                        <span class="nav-link-title">
                            Progress
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="docs/navbars">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <TablerIcon class="icon" Elements="@DemoIcons.Menu" />
                        </span>
                        <span class="nav-link-title">
                            Navbars
                        </span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</aside>

@code {
    private bool isExpanded;

    private void ToogleExpanded()
    {
        isExpanded = !isExpanded;
    }

    private string menuCollapse => isExpanded ? "" : "collapse";
}