<Table Item="Order"   Items="orders" PageSize="10" AddItemFactory="AddItem" OnItemEdited="OnItemEdit" @bind-SelectedItems="selectedOrders" OnItemAdded="OnItemAdd" OnItemDeleted="OnItemDelete" ShowCheckboxes MultiSelect>
    <HeaderTemplate>
        <strong>Orders</strong>
    </HeaderTemplate>

    <ChildContent>
        <Column Item="Order" Property="e=>e.Customer.CustomerName" Title="Customer" Sortable Searchable Groupable>
            <EditorTemplate>
                <input type="text" class="form-control" @bind-value="@context.Customer.CustomerName" />
            </EditorTemplate>
        </Column>
        <Column Item="Order" Property="e=>e.Country" Title="Country" Sortable Searchable Groupable>
            <EditorTemplate>
                <input type="text" class="form-control" @bind-value="@context.Country" />
            </EditorTemplate>
        </Column>
        <Column Item="Order" Property="e=>e.OrderType" Title="Order type" Sortable Searchable Groupable>
            <EditorTemplate>
                <ItemSelect Items="EnumInfo.GetList<OrderType>()" @bind-SelectedValue="@context.OrderType" TextExpression="e=> e.ToString()" ValueExpression="e=> e" Clearable />
            </EditorTemplate>
        </Column>
    </ChildContent>

</Table>


<ul>
    @foreach (var order in selectedOrders)
    {
        <li>@order.OrderId, @order.Customer.CustomerName</li>
    }
</ul>

@code {

    [Inject] TabBlazor.Services.TablerService TablerService { get; set; }
    private static List<Order> orders = SampleData.GetOrders();
    private static List<Order> selectedOrders = new List<Order>();

    private async Task OnItemEdit(Order order)
    {
        await TablerService.ShowAlert($"Edited order {order.OrderId}");
    }

    private async Task OnItemAdd(Order order)
    {
        await TablerService.ShowAlert($"Added order {order.OrderId}");
    }
        

    private async Task OnItemDelete(Order order)
    {
        await TablerService.ShowAlert($"Order deleted {order.OrderId}");
    }

    private Order AddItem()
    {

        return new Order { Customer = new Customer { CustomerName = "New customer" } };

    }
}