@typeparam TableItem
@inherits EditRowBase<TableItem>

@namespace  TabBlazor.Components.Tables

<tr class="is-inline-edit data-row" @ref="editRow">

    @if (InlineEditTable.ShowCheckboxes)
    {
        <td></td>
    }

    @foreach (var column in InlineEditTable.VisibleColumns)
    {
        <td style="@GetColumnWidth(column)" class="@GetColumnClass(column)">
            @if (column.EditorTemplate != null)
            {
                @column.EditorTemplate(Item)
            }
            else if (column.Template != null)
            {
                @column.Template(Item)
            }
            else
            {
                @column.GetValue(Item)
            }
        </td>
    }

    @if (!InlineEditTable.HasActionColumn)
    {
        <td>
            <div class="row-action-edit">
                <button class="btn btn-primary btn-sm" @onclick:stopPropagation type="submit">Save</button>
                <button class="btn btn-secondary btn-sm" @onclick:stopPropagation type="button" @onclick="OnEditItemCanceled">Cancel</button>
            </div>
        </td>

    }
</tr>