@typeparam TItem

@if (Table.CurrentEditItem != null)
{

    <ModalView Title="@title" Options="options" OnClosed=CancelEdit >
        @foreach (var column in Table.VisibleColumns)
        {
            <div class="form-group mb-3 row">
                <label class="form-label col-3 col-form-label">@column.Title</label>
                <div class="col">
                    @if (column.EditorTemplate != null)
                    {
                        @column.EditorTemplate(Table.CurrentEditItem)
                    }
                    else if (column.Template != null)
                    {
                        @column.Template(Table.CurrentEditItem)
                    }
                    else
                    {
                        @column.GetValue(Table.CurrentEditItem)
                    }
                </div>
            </div>

        }
        <div class="form-footer">
            <div class="d-flex">
                <Button BackgroundColor=TablerColor.Secondary OnClick="CancelEdit">Cancel</Button>
                <button class="btn btn-primary ms-auto" type="submit">Save</button>
            </div>
        </div>

    </ModalView>
}