@typeparam TableItem
@inherits TableHeaderToolsBase<TableItem>

@if (Table.ShowSearch)
{
    <div class="ms-auto text-muted">
                <div class="input-group input-group-flat">
                    <input type="text" class="form-control form-control-sm" placeholder="search..." value="@Table.SearchText" @oninput="@(x => Table.Search(x.Value.ToString()))">
                    <span class="input-group-text">

                        @if (!string.IsNullOrWhiteSpace(Table.SearchText))
                        {
                            <Icon Size="16" IconType="@InternalIcons.X" OnClick="@(() => Table.Search(""))" />
                        }
                        else
                        {
                            <Icon Size="16" IconType="@InternalIcons.Search" />
                        }
                    </span>
        </div>
    </div>
}
@if (Table.OnRefresh != null)
{
    <span class="cursor-pointer hover-icon" title="Refresh">
        <Icon Icon="material refresh" OnClick="Table.RefreshItems"></Icon>
    </span>
}