<Card>
    <CardBody>

        <div class="d-flex align-items-center">
            <div class="subheader">Revenue</div>
            <div class="ms-auto lh-1">
                <Dropdown>
                    <ChildContent>
                        <a class="dropdown-toggle text-muted" aria-haspopup="true" aria-expanded="false">
                            Last 7 days
                        </a>
                    </ChildContent>
                    <DropdownTemplate>
                        <DropdownMenu>
                            <DropdownItem>Last 7 Days</DropdownItem>
                            <DropdownItem>Last 30 days</DropdownItem>
                            <DropdownItem>Last 3 months</DropdownItem>
                        </DropdownMenu>
                    </DropdownTemplate>

                </Dropdown>
            </div>
        </div>
        <div class="d-flex align-items-baseline">
            <div class="h1 mb-3 me-2">@orders.Sum(e => e.GrossValue).ToString("N0")$</div>
            <div class="me-auto">
                <span class="text-red d-inline-flex align-items-center lh-1">
                    -8%
                    <Icon class="icon" IconType="@TablerIcons.Trending_down"></Icon>
                </span>
            </div>
        </div>
        <div>
            <ApexChart TItem="Order"
                       Height="40"
                       XAxisType="XAxisType.Datetime"
                       Options="GetOptions()">

                <ApexPointSeries TItem="Order"
                                 Items="orders"
                                 SeriesType="SeriesType.Line"
                                 Name="Gross Value"
                                 XValue="@(e => e.OrderDate.FirstDayOfMonth())"
                                 YAggregate="@(e => Decimal.Round(e.Sum(e => e.GrossValue)))"
                                 OrderBy="e=>e.X" />

                <ApexPointSeries TItem="Order"
                            Items="orders"
                            Name="Net Value"
                            XValue="@(e => e.OrderDate.FirstDayOfMonth())"
                            YAggregate="@(e => Decimal.Round(e.Sum(e => e.NetValue * (decimal)0.2)))"
                            OrderBy="e=>e.X" />


            </ApexChart>
        </div>


    </CardBody>
</Card>


@code {

    private List<Order> orders = SampleData.GetOrders();

    private ApexCharts.ApexChartOptions<Order> GetOptions()
    {
        var options = new ApexCharts.ApexChartOptions<Order>();
        options.Colors = new List<string> { "#206bc4" };
        options.Chart = new Chart { Sparkline = new ChartSparkline { Enabled = true } };
        options.Stroke = new Stroke { Width = 3, DashArray = new int[] { 0, 3 }, Colors = new List<string> { "#206bc4", "#999999" } };
        return options;
    }


}
