@typeparam Item
@inherits TableBase<Item>

<CascadingValue Value="(ITable<Item>) this" Name="Table">
    <Card>
        <CardHeader>

            @if (HeaderTemplate != null)
            {
                @HeaderTemplate
            }
            <GroupByButton Item="Item" />
            <TableHeaderTools TableItem="Item" />
        </CardHeader>

        <CardBody>
            <div class="the-grid">
                @*<FluentForm Model="@CurrentEditItem" class="inline-edit-form" OnValidSubmit="@OnValidSubmit" RuleSet="@ValidationRuleSet">*@
                <TablerForm  Model="@CurrentEditItem" OnValidSubmit="@OnValidSubmit">
                    @if (VisibleColumns.Any())
                    {
                        <div class="div-table-wrapper @GetTableCssClass()">
                            <div class="div-table-table">
                                <table @attributes="Attributes">
                                    @if (ShowTableHeader)
                                    {
                                        <TableHeader TableItem="Item"></TableHeader>
                                    }
                                    <tbody>
                                        @if (ReloadingItems)
                                        {
                                            <AllColumnRow TableItem="Item">
                                                <Dimmer Active="true">
                                                    Loading..
                                                </Dimmer>
                                            </AllColumnRow>
                                        }
                                        else if (ShowNoItemsLabel && !TempItems.Any())
                                        {
                                            <AllColumnRow TableItem="Item">
                                                <h5>
                                                    <i>No items</i>
                                                </h5>
                                            </AllColumnRow>
                                        }
                                        else
                                        {
                                            foreach (var group1 in TempItems)
                                            {
                                                var group = group1;
                                                @if (HasGrouping)
                                                {
                                                    <GroupHeaderTableRow @bind-Group="group"></GroupHeaderTableRow>
                                                }
                                                @if (!HasGrouping || group.Expanded)
                                                {
                                                    foreach (var item in group)
                                                    {
                                                        @if (IsEditingItem(item))
                                                        {
                                                            <EditRow InlineEditTable="this" Item="item"></EditRow>
                                                        }
                                                        else
                                                        {
                                                            <TableRow Item="item" Table="this"></TableRow>

                                                            @if (ShowDetailsRow(item))
                                                            {
                                                                <DetailsRow Item="item" Table="this"></DetailsRow>
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                                @if (AllowAdd && !IsAddInProgress)
                                {
                                    <button type="button" @onclick="@OnAddItem" class="m-2 add-row btn btn-primary btn-sm">
                                        <i class="fe fe-plus mr-2"></i>Add row
                                    </button>
                                }
                            </div>
                        </div>
                    }
                </TablerForm>
                @*</FluentForm>*@
                @ChildContent


                @if (TotalCount > 0)
                {
                    <div class="card-footer d-flex align-items-center">
                        <Pager Item="Item" />
                    </div>

                }
            </div>
        </CardBody>
    </Card>
</CascadingValue>