@inherits TablerDropdownBaseComponent
@namespace Tabler.Components

@if (Dropdown == null)
{

    <HtmlElement Tag="@HtmlTag"
                 class="@ClassNames"
                 type="@InputType"
                 href="@Href"
                 @onclick="OnButtonClick"
                 role="button"
                 @attributes="@UnmatchedParameters">
        @ChildContent
    </HtmlElement>




}
else
{

<div class="dropdown">
    <HtmlElement Tag="@HtmlTag"
                 class="@ClassNames"
                 type="@InputType"
                 href="@Href"
                 @onclick="OnButtonClick"
                 role="button"
                 @attributes="@UnmatchedParameters">
        @ChildContent
    </HtmlElement>

    @if (isExpanded)
    {
        @Dropdown
    }


</div>


}
