
@if (ModalModel.Options.Backdrop)
{
    <div class="modal-backdrop fade show" />
}


<div class="modal @(ModalModel.Options.BlurBackground ? "modal-blur": "") fade show" id="tabblazor-modal-container" @ref="BlurContainer" @onkeydown="OnKeyDown" @onclick="OnClickOutside" tabindex="-1" style="display: block;" aria-hidden="true">
    <div draggable="true" @ondragend="OnDragEnd" @ondragstart="OnDragStart" class="@GetModalCss()" role="document" @onclick:stopPropagation @onkeydown:stopPropagation
         style=@(GetModalStyle())>
        <div class="modal-content border">

            @if (ModalModel.Options.StatusColor != null)
            {
                <div class="modal-status @(((TablerColor)ModalModel.Options.StatusColor).GetColorClass("bg"))"></div>
            }

            @if (ModalModel.Options.ShowHeader)
            {
                <div class="modal-header @(ModalModel.Options.Draggable ? "cursor-move": "")">
                    <h5 class="modal-title">@ModalModel.Title</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" @onclick="ModalService.Close"></button>
                </div>
            }

            <div class="modal-body" draggable="false" @ondragstart="OnDragPrevent" @ondragend="OnDragPrevent">
                @ModalModel.ModalContents
            </div>
        </div>
    </div>
</div>
}