@namespace TabBlazor
@if (Options.Backdrop)
{
    <div class="modal-backdrop fade show" />
}


<div class="modal @(Options.BlurBackground ? "modal-blur": "") fade show" id="tabblazor-modal-container" @ref="BlurContainer" @onkeydown="OnKeyDown" @onclick="OnClickOutside"
     tabindex="-1" style="display: block; z-index: @modalViewSettings.ZIndex" aria-hidden="true">
    <div class="@GetModalCss()" role="document" @ondragend="OnDragEnd" @ondragstart="OnDragStart"
         style=@(GetModalStyle()) @ref="dragContainer">
        <div class="modal-content border">

            @if (Options.StatusColor != null)
            {
                <div class="modal-status @(((TablerColor)Options.StatusColor).GetColorClass("bg"))"></div>
            }

            @if (Options.ShowHeader)
            {
                <div class="modal-header @(Options.Draggable ? "cursor-move": "")">
                    <h5 class="modal-title">@Title</h5>
                    @if (Options.ShowCloseButton)
                    {
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" @onclick="Close"></button>
                    }
                </div>
            }

            <div class="modal-body" @ref="contentContainer" @onclick:stopPropagation @onkeydown:stopPropagation>
                @ChildContent
            </div>
        </div>
    </div>
</div>
