@namespace TabBlazor


<CascadingValue Value="@this">

    <div class="carousel slide">

        @if (Indicators != CarouselIndicator.None)
        {
            <div class="@GetIndicatorCss()">
                @foreach (var carouselItem in carouselItems)
                {
                    @if (carouselItem.IndicatorTemplate != null)
                    {
                        <span @onclick="@( _=> SetActiveItem(carouselItem))" class="cursor-pointer">
                            @carouselItem.IndicatorTemplate
                        </span>

                    }
                    else if (Indicators == CarouselIndicator.Thumbnail && !string.IsNullOrWhiteSpace(carouselItem.ImageSrc))
                    {
                        <button type="button" @onclick="@( _=> SetActiveItem(carouselItem))" data-bs-target="#carousel-indicators-thumb" class="ratio ratio-4x3 @(activeItem == carouselItem ? "active":"")" style="background-image: url(@carouselItem.ImageSrc)"></button>
                    }
                    else
                    {
                        <button type="button" @onclick="@( _=> SetActiveItem(carouselItem))" data-bs-target="@GetDataBsTarget()" class="@(activeItem == carouselItem ? "active":"")"></button>
                    }

                }
            </div>
        }

        <div class="carousel-inner">
            @ChildContent
        </div>

        @if (Controls)
        {
            <a @onclick=MovePrevious class="carousel-control-prev" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a @onclick=MoveNext class="carousel-control-next" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        }

    </div>




</CascadingValue>




